# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================

.vscode/
.idea/
*.swp
*.swo
