asgiref==3.12.1
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Django==6.1.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
filelock==3.18.0
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
PyJWT==2.13.0
requests==2.32.3
rodinei==2022.10.19
setuptools==80.9.0
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.3.0
Werkzeug==3.1.3
wheel==0.45.1
python-decouple==3.8